* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: none;
}

:root {
}

header {
  width: 100%;
  height: 81px;
  background-color: #1d2126;
  position: absolute;
  z-index: 2;
}

header .modest-icon {
  position: absolute;
  background-image: url(../img/icon-header/icon-modest.png);
  left: 250px;
  top: 31px;
  width: 99px;
  height: 19px;
  cursor: pointer;
}

header .list-choice ul {
  position: absolute;
  display: flex;
  color: #fff;
  font-size: 1.4rem;
  right: 10rem;
  top: 20px;
}

header ul > li {
  margin: 0 0.5rem;
  padding: 1rem 1rem;
  text-transform: uppercase;
  cursor: pointer;
  color: #808889;
  border: 2px solid transparent;
}

header ul > li:hover {
  border: 2px solid #23b7a4;
  color: #23b7a4;
  border-radius: 5px;
  transition: all 0.5s;
}

header ul > li:active {
  border: 2px solid #808889;
  color: #808889;
  border-radius: 5px;
  opacity: 0.8;
}

.slider-banner {
  background-image: url(../img/slider-banner/banner-1.jpg);
  position: absolute;
  height: 660px;
  width: 100%;
  margin-top: 81px;
  background-size: contain;
  background-repeat: no-repeat;
}

.slider-banner .intro-content {
  position: absolute;
  width: 45rem;
  top: 200px;
  left: 250px;
  color: #fff;
}

.slider-banner .intro-content h2 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.slider-banner .intro-content p {
  text-align: justify;
  font-size: 1rem;
  color: rgb(204, 208, 215);
}

.slider-banner .intro-content .group-btn {
  display: flex;
}

.slider-banner .intro-content .btn {
  margin: 0 1rem;
  padding: 1rem 1.5rem;
  border: 2px solid #23b7a4;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  cursor: pointer;
}

.slider-banner .intro-content .btn:hover {
  background-color: #23b7a4;
  transition: all 0.5s;
}

.slider-banner .intro-content .btn:first-child {
  margin-left: 0px;
}

.info-content {
  display: flex;
  position: absolute;
  height: 500px;
  width: 100%;
  background-color: #fff;
  margin-top: 500px;
}

.info-content::after {
  border-bottom: 2px solid #333;
}

.info-content .detail {
  position: absolute;
  width: 500px;
  height: 400px;
  top: 80px;
  left: 250px;
}

.info-content .detail .title-detail {
  display: flex;
}

.info-content .detail .title-detail .box {
  background-color: #e1e6ea;
  width: 1rem;
  height: 2.5rem;
}

.info-content .detail .title-detail h2 {
  text-transform: uppercase;
  font-size: 2rem;
  margin: 0 1rem;
  padding-top: 0.2rem;
}

.info-content .detail p {
  margin: 3rem 0;
  text-align: justify;
}

.info-content .detail .list-icon ul {
  position: absolute;
  display: flex;
  padding: 0px;
}

.info-content .list-icon li {
  display: flex;
  width: 6rem;
  height: 6rem;
  font-size: 1.6rem;
  color: #fff;
  /* padding-top:2rem; */
  background-color: #c8cdd0;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 2px;
}

.info-content .list-icon li:hover {
  opacity: 0.6;
  transition: all 0.7s;
}

.info-content .list-icon li:first-child {
  padding-left: 0px;
}

.info-content .list-info {
  width: 30rem;
  height: 40rem;
  position: absolute;
  top: 8rem;
  right: 6rem;
  background-color: #23b7a4;
}

.info-content .info-item-1 .box-number {
  position: absolute;
  background-color: #23b7a4;
  font-size: 1.5rem;
  color: #fff;
  width: 5rem;
  height: 5rem;
  top: 0;
  left: 0;
}
